# Exploratory Data Analysis (EDA) in Python Complete Walkthrough

## Initial Exploration
- 
You are researching unemployment rates worldwide and have been given a new dataset to work with. The data has been saved and loaded for you as a pandas DataFrame called unemployment. You've never seen the data before, so your first task is to use a few pandas functions to learn about this new data.

In [ ]:
# Print the first five rows of unemployment
print(unemployment.head())

### Counting categorical values
- Recall from the previous exercise that the unemployment DataFrame contains 182 rows of country data including country_code, country_name, continent, and unemployment percentages from 2010 through 2021. 
You'd now like to explore the categorical data contained in unemployment to understand the data that it contains related to each continent.

In [ ]:
# Count the values associated with each continent in unemployment
print(print(unemployment["continent"].value_counts()))

### Global unemployment in 2021- 
It's time to explore some of the numerical data in unemployment! What was typical unemployment in a given year? What was the minimum and maximum unemployment rate, and what did the distribution of the unemployment rates look like across the world? A histogram is a great way to get a sense of the answers to these questions 

Your task in this exercise is to create a histogram showing the distribution of global unemployment rates in 20.

In [ ]:
# Import the required visualization libraries
import seaborn as sns
import matplotlib.pyplot as plt

# Create a histogram of 2021 unemployment; show a full percent in each bin
sns.histplot(data=unemployment, x="2021", binwidth=1)
plt.show()

## Data Validation
### Validating continents- 
Your colleague has informed you that the data on unemployment from countries in Oceania is not reliable, and you'd like to identify and exclude these countries from your unemployment data. The .isin() function can help with that 

Your task is to use .isin() to identify countries that are not in Oceania. These countries should return True while countries in Oceania should return False. This will set you up to use the results of .isin() to quickly filter out Oceania countries using Boolean indexing.

In [ ]:
# Define a Series describing whether each continent is outside of Oceania
not_oceania = ~unemployment["continent"].isin(["Oceania"])

### Validating range- 
Now it's time to validate our numerical data. We saw in the previous lesson using .describe() that the largest unemployment rate during 2021 was nearly 34 percent, while the lowest was just above zero 

Your task in this exercise is to get much more detailed information about the range of unemployment data using Seaborn's boxplot, and you'll also visualize the range of unemployment rates in each continent to understand geographical range differenc.

In [ ]:
# Print the minimum and maximum unemployment rates during 2021
print(unemployment["2021"].min(), unemployment["2021"].max())

# Create a boxplot of 2021 unemployment rates, broken down by continent
sns.boxplot(data=unemployment, x="2021", y="continent")
plt.show()

## Data Summarization
### Summaries with .groupby() and .agg()- 
In this exercise, you'll explore the means and standard deviations of the yearly unemployment data. First, you'll find means and standard deviations regardless of the continent to observe worldwide unemployment trends. Then, you'll check unemployment trends broken down by continent.

In [ ]:
# Print the mean and standard deviation of rates by year
print(unemployment.agg(["mean", "std"]))

### Named aggregations- 
You've seen how .groupby() and .agg() can be combined to show summaries across categories. Sometimes, it's helpful to name new columns when aggregating so that it's clear in the code output what aggregations are being applied and where 

Your task is to create a DataFrame called continent_summary which shows a row for each continent. The DataFrame columns will contain the mean unemployment rate for each continent in 2021 as well as the standard deviation of the 2021 employment rate. And of course, you'll rename the columns so that their contents are cle!

In [ ]:
continent_summary = unemployment.groupby("continent").agg(
    # Create the mean_rate_2021 column
    mean_rate_2021 = ("2021", "mean"),
    # Create the std_rate_2021 column
    std_rate_2021 = ("2021", "std"),
)
print(continent_summary)

### Visualizing categorical summaries.

- As you've learned in this chapter, Seaborn has many great visualizations for exploration, including a bar plot for displaying an aggregated average value by category of data.
- In Seaborn, bar plots include a vertical bar indicating the 95% confidence interval for the categorical mean. Since confidence intervals are calculated using both the number of values and the variability of those values, they give a helpful indication of how much data can be relied upon.
- Your task is to create a bar plot to visualize the means and confidence intervals of unemployment rates across the different continents.

In [ ]:
# Create a bar plot of continents and their average unemployment
sns.barplot(data=unemployment, x="continent", y="2021")
plt.show()

## Data Cleaning and Imputations.

### Addressing missing data:
- It is important to deal with missing data before starting your analysis. One approach is to drop missing values if they account for a small proportion, typically five percent, of your data.
- Working with a dataset on plane ticket prices, stored as a pandas DataFrame called planes, you'll need to count the number of missing values across all columns, calculate five percent of all values, use this threshold to remove observations, and check how many missing values remain in the dataset.

In [ ]:
# Count the number of missing values in each column
print(planes.isna().sum())

### Strategies for remaining missing data:
- The five percent rule has worked nicely for your planes dataset, eliminating missing values from nine out of 11 columns!
- Now, you need to decide what to do with the "Additional_Info" and "Price" columns, which are missing 300 and 368 values respectively.
- You'll first take a look at what "Additional_Info" contains, then visualize the price of plane tickets by different airlines.

In [ ]:
# Check the values of the Additional_Info column
print(planes["Additional_Info"].value_counts())

### Imputing missing plane prices- Now there's just one column with missing values left
- You've removed the "Additional_Info" column from planes—the last step is to impute the missing data in the "Price" column of the datas
- As a reminder, you generated this boxplot, which suggested that imputing the median price based on the "Airline" is a solid approach!

In [ ]:
# Calculate median plane ticket prices by Airline
airline_prices = planes.groupby("Airline")["Price"].median()

print(airline_prices)

## Converting and Analyzing Categorical Data
### Finding the number of unique values
- You would like to practice some of the categorical data manipulation and analysis skills that you've just seen. To help identify which data could be reformatted to extract value, you are going to find out which non-numeric columns in the planes dataset have a large number of unique values.

In [ ]:
# Filter the DataFrame for object columns
non_numeric = planes.select_dtypes("object")

# Loop through columns
for col in non_numeric.columns:
  
  # Print the number of unique values
  print(f"Number of unique values in {col} column: ", non_numeric[col].nunique())

### Flight duration categories
- As you saw, there are 362 unique values in the "Duration" column of planes. Looks like this won't be simple to convert to numbers. However, you could categorize flights by duration and examine the frequency of different flight lengths! Looks like this won't be simple to convert to numbers. However, you could categorize flights by duration and examine the frequency of different flight lengths!

In [ ]:
# Create a list of categories
flight_categories = ["Short-haul", "Medium", "Long-haul"]

### Adding duration categories
- Now that you've set up the categories and values you want to capture, it's time to build a new column to analyze the frequency of flights by duration! The variables flight_categories, short_flights, medium_flights, and long_flights that you previously created are available to you.

In [ ]:
# Create conditions for values in flight_categories to be created
conditions = [
    (planes["Duration"].str.contains(short_flights)),
    (planes["Duration"].str.contains(medium_flights)),
    (planes["Duration"].str.contains(long_flights))
]

# Apply the conditions list to the flight_categories
planes["Duration_Category"] = np.select(conditions, 
                                        flight_categories,
                                        default="Extreme duration")

# Plot the counts of each category
sns.countplot(data=planes, x="Duration_Category")
plt.show()

## Working with numerica data
### Flight duration
- You would like to analyze the duration of flights, but unfortunately, the "Duration" column in the planes DataFrame currently contains string values. You'll need to clean the column and convert it to the correct data type for analysis

In [ ]:
# Preview the column
print(planes["Duration"].head())

### Adding descriptive statistics
- Now "Duration" and "Price" both contain numeric values in the planes DataFrame, you would like to calculate summary statistics for them that are conditional on values in other columns.

In [ ]:
# Price standard deviation by Airline
planes["airline_price_st_dev"] = planes.groupby("Airline")["Price"].transform(lambda x: x.std())

print(planes[["Airline", "airline_price_st_dev"]].value_counts())

## Handling outliers
### Identifying outliers
- You've proven that you recognize what to do when presented with outliers, but can you identify them using visualizations? Try to figure out if there are outliers in the "Price" or "Duration" columns of the planes DataFrame.

In [ ]:
# Plot a histogram of flight prices
sns.histplot(data=planes, x="Price")
plt.show()

### Removing outliers
- While removing outliers isn't always the way to go, for your analysis, you've decided that you will only include flights where the "Price" is not an outlier. Therefore, you need to find the upper threshold and then use it to remove values above this from the planes DataFrame.

In [ ]:
# Find the 75th and 25th percentiles
price_seventy_fifth = planes["Price"].quantile(0.75)
price_twenty_fifth = planes["Price"].quantile(0.25)

## Relationships in Data: Patterns over time
### Importing DateTime data
- You'll now work with the entire divorce dataset! The data describes Mexican marriages dissolved between 2000 and 2015. It contains marriage and divorce dates, education level, birthday, income for each partner, and marriage duration, as well as the number of children the couple had at the time of divorce. It looks like there is a lot of date information in this data that is not yet a DateTime data type! Your task is to fix that so that you can explore patterns over time.

In [ ]:
# Import divorce.csv, parsing the appropriate columns as dates in the import
divorce = pd.read_csv("divorce.csv", parse_dates=["divorce_date", "dob_man", "dob_woman", "marriage_date"])
print(divorce.dtypes)

### Visualizing relationships over time
- Now that your date data is saved as DateTime data, you can explore patterns over time! Does the year that a couple got married have a relationship with the number of children that the couple has at the time of divorce? Your task is to find out!

In [ ]:
# Define the marriage_year column
divorce["marriage_year"] = divorce["marriage_date"].dt.year

## Correlation
### Visualizing variable relationships
- In the last exercise, you may have noticed that a longer marriage_duration is correlated with having more children, represented by the num_kids column. The correlation coefficient between the marriage_duration and num_kids variables is 0.45.

In [ ]:
# Create the scatterplot
sns.scatterplot(data=divorce, x="marriage_duration", y="num_kids")
plt.show()

### Visualizing multiple variable relationships
- Seaborn's .pairplot() is excellent for understanding the relationships between several or all variables in a dataset by aggregating pairwise scatter plots in one visual.

In [ ]:
# Create a pairplot for income_woman and marriage_duration
sns.pairplot(data=divorce, vars=["income_woman", "marriage_duration"])
plt.show()

## Factor relationships and distributions
### Categorial data in scatter plots
- We explored how men's education and age at marriage related to other variables in our dataset, the divorce DataFrame. Now, you'll take a look at how women's education and age at marriage relate to other variables! Your task is to create a scatter plot of each woman's age and income, layering in the categorical variable of education level for additional context.

In [ ]:
# Create the scatter plot
sns.scatterplot(data=divorce, x="woman_age_marriage", y="income_woman", hue="education_woman")
plt.show()

### Exploring with KDE plots
- Kernel Density Estimate (KDE) plots are a great alternative to histograms when you want to show multiple distributions in the same visual.
- Suppose you are interested in the relationship between marriage duration and the number of kids that a couple has. Since values in the num_kids column range only from one to five, you can plot the KDE for each value on the same plot.

In [ ]:
# Create the KDE plot
sns.kdeplot(data=divorce, x="marriage_duration", hue="num_kids")
plt.show()

## Considerations for categorical data
### Checking for class imbalance
- The 2022 Kaggle Survey captures information about data scientists' backgrounds, preferred technologies, and techniques. It is seen as an accurate view of what is happening in data science based on the volume and profile of responders.

In [ ]:
# Print the relative frequency of Job_Category
print(salaries["Job_Category"].value_counts(normalize=True))

### Cross-tabulation
- Cross-tabulation can help identify how observations occur in combination.
- Using the salaries dataset, which has been imported as a pandas DataFrame, you'll perform cross-tabulation on multiple variables, including the use of aggregation, to see the relationship between "Company_Size" and other variables.

In [ ]:
# Cross-tabulate Company_Size and Experience
print(pd.crosstab(salaries["Company_Size"], salaries["Experience"]))

### Generating new features
- Extracting features for correlation In this exercise, you'll work with a version of the salaries dataset containing a new column called "date_of_response". The dataset has been read in as a pandas DataFrame, with "date_of_response" as a datetime data type. Your task is to extract datetime attributes from this column and then create a heat map to visualize the correlation coefficients between variables.

In [ ]:
# Get the month of the response
salaries["month"] = salaries["date_of_response"].dt.month

# Extract the weekday of the response
salaries["weekday"] = salaries["date_of_response"].dt.weekday

# Create a heatmap
sns.heatmap(salaries.corr(), annot=True)
plt.show()

### Calculating salary percentiles
- We've seen that the conversion of numeric data into categories sometimes makes it easier to identify patterns. Your task is to convert the "Salary_USD" column into categories based on its percentiles. First, you need to find the percentiles and store them as variables.

In [ ]:
# Find the 25th percentile
twenty_fifth = salaries["Salary_USD"].quantile(0.25)

# Save the median
salaries_median = salaries["Salary_USD"].median()

# Gather the 75th percentile
seventy_fifth = salaries["Salary_USD"].quantile(0.75)
print(twenty_fifth, salaries_median, seventy_fifth)

### Categorizing salaries 
- Now it's time to make a new category! You'll use the variables twenty_fifth, salaries_median, and seventy_fifth, that you created in the previous exercise, to split salaries into different labels. The result will be a new column called "salary_level", which you'll incorporate into a visualization to analyze survey respondents' salary and at companies of different sizes.

In [ ]:
# Create salary labels
salary_labels = ["entry", "mid", "senior", "exec"]

### Comparing salaries
- Exploratory data analysis is a crucial step in generating hypotheses! You've had an idea you'd like to explore—do data professionals get paid more in the USA than they do in Great Britain? You'll need to subset the data by "Employee_Location" and produce a plot displaying the average salary between the two groups.

In [ ]:
# Filter for employees in the US or GB
usa_and_gb = salaries[salaries["Employee_Location"].isin(["US", "GB"])]

# Create a barplot of salaries by location
sns.barplot(data=usa_and_gb, x="Employee_Location", y="Salary_USD")
plt.show()

In [ ]:
# Create a bar plot of salary versus company size, factoring in employment status
sns.barplot(data=salaries, x="Company_Size", y="Salary_USD", hue="Employment_Status")
plt.show()